
h1.title{ /*this is to change the font of the title*/
	color: #75FFA7;
	text-shadow: 1px 1px 2px green;
	font-family: 'Halogen Gas Lights', sans-serif;
}

h2{
	color: white;
}

h4.title{ /*same again here*/
	color: #75FFA7;
	text-shadow: 1px 1px 2px green;
	font-family: 'Halogen Gas Lights', sans-serif;    
}                                                    

h4.title2{ /*same again here*/
	color: white;
	text-shadow: 1px 1px 2px black;    
}                                                            
																
body.background { /*this add a background image*/                 
	background-image: url("img/background.jpg");                      
	background-attachment: fixed;                                 
	background-size: cover;                                       
}                                                                 
																
.navigation { /*this is for the nav bar*/                         
  background-color: transparent;                                  
  overflow: hidden;                                               
}                                                                 
																
.navigation a { /*and again here*/                                
  float: left;                                                    
  color: #f2f2f2;                                                 
  text-align: center;                                             
  padding: 14px 16px;                                             
  text-decoration: none;                                          
  font-size: 17px;                                                
}

.navigation a:hover {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px green;
}

.navigation a.home {
  background-color: #04AA6D;
  color: white;
}

.navigation a.blacknav { /*this is for changing the colour of the links*/
  color: white;
}

#hidetask, /*this for hiding my images*/
#hidetask2,
#hidetask3,
#hidetask4 {
  display: none;
}

img.image1{ /*thefollowing tags are for stylibg the images*/
	  border: grey 6px outset;
  margin: 14px 16px;
  width: 446px; 
  height: 346px; 
  
}
img.image2{
	  border: grey 6px outset;
  margin: 14px 16px;
  width: 446px; 
  height: 346px; 
  

}
img.image3{
	  border: grey 6px outset;
	margin: 14px 16px;
	width: 446px; 
	height: 346px; 
}

img.image4{
  border: grey 6px outset;
  margin: 14px 16px;
  width: 446px; 
  height: 346px; 
  
}

p {
	color:white;
}



⠀⠀⢀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⡠⠤⠔⠒⠒⠉⠉⠉⣆
⠀⠀⡼⠀⠈⠉⠉⠓⠒⠦⢤⣀⣀⣀⣀⣀⣀⡀⠀⠀⠀⣀⡤⠖⠚⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹
⠀⢠⡇⠀⠀⠀⠀⠀⠀⠀⠺⣅⠀⠀⠀⠀⠀⠈⠑⠒⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⢠⡖⠉⣀⣠⠴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸
⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡎
⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠃
⠀⠀⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡏⠀
⠀⣀⡹⡄⠰⠤⢤⠤⠤⠤⣤⣤⣤⣤⣦⠀⠀⠀⠀⠀⠀⣶⣶⣶⣶⣶⠒⠒⠒⢲⠒⠒⠂⠀⡞⢀⡀
⢠⡏⠉⢷⣄⠀⢸⠀⠀⢠⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠠⣿⣿⣿⣿⣿⡁⠀⠀⢸⡇⠀⠠⡞⠋⠁⣇
⠀⢧⠀⠀⠉⠀⢸⡄⠀⠀⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⡿⠀⠀⠀⢸⠇⠀⠀⠀⠀⢀⡇
⠀⠈⢧⠀⠀⠀⠈⠑⠀⠀⠘⠿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⠟⠁⠀⠀⠀⡟⠀⠀⠀⠀⢀⡞⠀
⠀⠀⠀⡳⢄⢶⠆⣠⠷⠀⠀⠀⠀⠀⠒⠶⠾⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡆⢠⠄⣠⠞⠀⠀
⠀⣠⠋⠀⠊⠈⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠇⠀⠀⠀⠀⠚⠃⠗⠃⠰⢇⠀⠀⠀
⢰⡃⠀⠀⣠⡄⠀⠀⠀⠀⠀⢦⣀⣀⣀⠤⠤⠄⠒⠒⠒⠚⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠳⡀⠀
⠀⠉⠉⠉⠁⠉⠒⠤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣄⡀⠀⠀⠀⢻⡀
⠀⠀⠀⠀⠀⠀⠀⢠⠤⢈⣁⡲⠶⠇⠀⠀⠀⠀⠀⠀⠤⠤⠤⠤⡤⠒⠒⠊⠉⠁⠀⠉⠉⠒⠒⠊⠁
⠀⠀⠀⠀⠀⠀⠀⠸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠹⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢳⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠎⠀⣠⡤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠺⠖⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡇⠀⠀⠀


/* You like coding using Notepad++, dont you? */
/* Emer this is jokes, dont take away marks for my art <3 */⠀⠀⠀⠀⠀⠀