/*styles.css*/

h2.header2{
	color: white;
	text-shadow: 1px 1px 2px black; /*Even on a darker background the white text can be hard to see, so I added text shadow to make it more visible.*/
}

h3.header3{
	color: white;
	text-shadow: 1px 1px 2px black;
}

h1.title{
	color: white;
	text-shadow: 1px 1px 2px green;
}

p.mainText{
	color: white;
	text-shadow: 1px 1px 2px black;
	text-align: justify; /*Justify stretches the lines so each gap has equal width.*/
}
	

body.background{
	background-image: url(background.jpg); 
	background-attachment: fixed; /*This makes the background NOT move when you scroll, and doesn't leave any loose corners.*/
	background-size: cover; /*This stretches or shrinks the background image so that even if the image isn't an amazing resolution, it'll still look okay. */
}

/* I don't like Bootstrap's navbar and I wanted a transparent one, so I made one. */
.navigation {
  background-color: transparent;
  overflow: hidden; /*This makes overflow content clipped and invisible, also pushes the header down so that it makes the navbar look longer than it actually is.*/
					/*In all honesty this probably isn't the correct way to do this, but it works for this specific purpose.*/
}

/* This is the styling for the links in the Navigation Bar. */
.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* This makes the text glow when you hover over it by using text-shadow and actions in CSS. */
.navigation a:hover {
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 2px green;
}

/* This adds a colored box to the navbar button of the page you're currently on so that you know what part of the website you're in. */
.navigation a.home {
  background-color: #04AA6D;
  color: white;
}

/*Making a border between the images and background mitigates the sharp colour-contrast and also just looks nice.*/
img.showcase { 
	border: grey 6px outset;
	float: left;
	margin: 14px 16px;
}
/* Same logic applied here. */
img.showcaseR {
	border: grey 6px outset;
	float: right;
	margin: 14px 16px;
}

/* Same logic applied here. */
img.showcaseT {
	border: grey 6px outset;
	float: left;
	margin: 14px 16px;
}	